/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #4bff90;
}

header {
    background-color: #4bff90;
    padding: 10px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.content {
    margin: 20px;
}

form {
    margin: 20px 0;
    padding: 15px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
}

form p {
    margin-bottom: 10px;
}

form input {
    padding: 8px;
    width: 100%;
    max-width: 300px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: #4bff90;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}


footer {
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    background-color: #4bff90;
    color: white;
}
